<header>
            <div id='blp_titre'>
                <div id='vid1'></div>                         
                <div id='bl_log'>
                    <img id="logo" src="Img/im_log.jpg" alt="logo">
                </div> 
                <div id='vid'></div>              
                <div id='bl_titre'>
                    <div id='icon1'><img id='adem' src='Img/aile_blanche.png'/><h1><span id='wgt'>Mag &nbsp&nbsp Cor'Yas</span></h1><img id='adem' src='Img/aile_blanche.png'/></div>                   
                </div>
                <div id='vid1'></div>  
                <div id='mess'><p id="p_titre">&nbsp Le Blabla Perspicace </br> &nbsp&nbsp&nbsp&nbsp&nbsp ... d'un Mag efficace </br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ... où l'utile a sa place.</p></div>
            </div>
            <div id='tete'>
                <div id='vid'></div>            
                <nav id="menu">
                    <div id="mn">
                        <a id='b1' href='{{path('app_billets_actus')}}' target="">
                            <div id='icon'><div id="m1">Actus &nbsp&nbsp&nbsp&nbsp</div><img id='new' src='Img/news2.jpg'/></div>
                            <div id='a1'></div>
                        </a>
                        <a id='b2' href='{{path('app_billets_coeur')}}' target="">
                            <div id='icon'><div id="m2" >Coups d' &nbsp </div><img id='cor' src='Img/coeur.png'/></div>
                            <div id='a2'></div>
                        </a>
                        <a id='b3' href='{{path('app_billets_gueule')}}' target="">
                            <div id='icon'><div id="m3">Coups d' &nbsp </div><img id='leo'src='Img/lion.jpg'/></div>
                            <div id='a3'></div>
                        </a>
                        <a id='b4' href='{{path('app_billets_discute')}}' target="">
                            <div id='icon'><div id="m4">Parlons-en ! &nbsp</div><img id='dis'src='Img/discute1.png'/></div>
                            <div id='a4'></div>
                        </a>
                    </div>
                </nav>
                <div id="but">
                    <a id="button1" id="con"  href='http://wikipedia.org' target="">Je me connecte</a>
                    <a id="button2" id="ins" href='http://facebook.com' target="">Je m'inscris</a>
                </div>
                
            </div>
        </header>